.base_section_title, .introduction__title, .introduction__title-punto, .episodes__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  padding-left: 16px;
  color: #060A24;
  letter-spacing: 0; }

body {
  margin: 0;
  padding: 0; }

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.bar_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navigation {
  padding: 10px 16px;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF; }
  .navigation__logo {
    width: 24px;
    height: 24px; }
  .navigation__menu {
    margin: 3px 0;
    width: 18px;
    height: 2px;
    background: #000000; }
  .navigation__label {
    cursor: pointer; }

.aside__checkbox {
  display: none; }
.aside__list {
  margin: 0;
  padding: 16px;
  width: 100%;
  height: 224px;
  top: 44px;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  list-style: none;
  background: #0000EC;
  line-height: 28px;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out; }
  .aside__list a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0; }
  .aside__list a:hover {
    color: #c4c2c2; }
.aside__checkbox:checked ~ .aside__list {
  left: 0; }

.section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.introduction {
  padding-left: 16px; }
  .introduction__title {
    width: 215px;
    padding-left: 0;
    font-weight: lighter;
    margin-bottom: 16px;
    margin-top: 19px; }
    .introduction__title-tachado {
      margin: 0;
      padding: 0;
      text-decoration: line-through; }
    .introduction__title-punto {
      padding-left: 0; }
  .introduction__p {
    margin: 0;
    padding: 0;
    height: 66px;
    width: 288px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px; }
    .introduction__p-desktop {
      display: none; }
  .introduction__button {
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    height: 48px;
    width: 288px;
    margin-top: 36px;
    margin-bottom: 22px; }
    .introduction__button:hover {
      color: #FFFFFF;
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

.episodes {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewy(-6deg);
          transform: skewy(-6deg);
  margin-top: 17px;
  padding-top: 1px;
  padding-bottom: 120px; }
  .episodes__title {
    color: #FFFFFF;
    -webkit-transform: skewy(6deg);
            transform: skewy(6deg);
    margin: 0 10px 10px 0;
    padding-top: 54px; }
  .episodes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .episodes__container__iframe {
      width: 298px;
      height: 225px;
      -webkit-transform: skewy(6deg);
              transform: skewy(6deg);
      margin-bottom: 11px; }

.phone {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "image"  "text";
  -webkit-transform: translateY(-77px);
          transform: translateY(-77px); }
  .phone__picture__image {
    height: 519px;
    grid-area: image; }
  .phone__text__container {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: lighter;
    color: #060A24;
    letter-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 22px;
    grid-area: text; }
    .phone__text__container__title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      margin: 27px 16px 0 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 42px;
      margin-bottom: 0; }
    .phone__text__container p {
      margin: 8px 16px 0 16px; }

.special_guest {
  -webkit-transform: translateY(-77px);
          transform: translateY(-77px); }
  .special_guest__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 54px 16px 0 16px; }
  .special_guest__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-top: 14px; }
    .special_guest__container img {
      width: 320px;
      height: 243px; }

.topics {
  -webkit-transform: translateY(-77px);
          transform: translateY(-77px); }
  .topics__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 48px 16px 0 16px; }
  .topics__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .topics__container div {
      margin-top: 52px; }
      .topics__container div img {
        margin: 13px 108px;
        width: 104px;
        height: 104px; }
      .topics__container div p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 24px;
        font-weight: bolder;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        margin: 0px 16px 0 16px; }

@media (min-width: 1024px) {
  .base_section_title-desktop, .phone__text__container__title {
    font-size: 48px;
    line-height: 42px;
    padding-left: 16px;
    color: #060A24;
    letter-spacing: 0; }

  .navigation {
    padding: 22px 100px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 80px; }
    .navigation__logo {
      width: 36px;
      height: 36px; }
      .navigation__logo img {
        width: 36px;
        height: 36px; }
    .navigation__label {
      display: none; }

  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 26px 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .aside__list {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      position: relative;
      background-color: #FFFFFF;
      top: 0px;
      left: 0px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0; }
      .aside__list a {
        color: #060A24; }
      .aside__list a:hover {
        font-family: "IBM Plex Mono Medium";
        text-decoration: line-through;
        color: #00F3BB; }
      .aside__list a:active {
        text-decoration: line-through;
        color: rgba(6, 10, 36, 0.56); }

  .section {
    margin: 0;
    padding: 0; }

  .introduction {
    padding-top: 120px;
    padding-left: 200px; }
    .introduction__title {
      width: auto;
      font-size: 64px;
      margin: 0px;
      padding-left: 0; }
      .introduction__title-punto {
        font-size: 64px;
        color: #0000EC;
        padding-left: 0; }
    .introduction__p {
      display: none; }
      .introduction__p-desktop {
        display: block;
        margin: 0;
        padding: 0;
        font-family: 'IBM Plex Mono', monospace;
        width: 628px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 15px; }
    .introduction__button {
      height: 56px;
      width: 226px;
      margin-top: 56px; }

  .episodes {
    padding: 26px 0px 232.6px 0px; }
    .episodes__title {
      font-size: 48px;
      margin: 0 0 26px 200px;
      padding-left: 0;
      color: #FFFFFF; }
    .episodes__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .episodes__container__iframe {
        width: 584px;
        height: 232px;
        margin: 72px; }

  .phone {
    grid-template-columns: 45vw 55vw;
    grid-template-rows: auto;
    grid-template-areas: "image text"; }
    .phone__picture {
      text-align: right; }
      .phone__picture__image {
        width: 457.6px;
        height: 660px; }
    .phone__text__container__title {
      padding-left: 0px; }
    .phone__text__container__p {
      font-size: 16px;
      width: 464px; }

  .special_guest__title {
    margin: 64px auto 0 200px;
    font-size: 48px; }
  .special_guest__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 36px; }
    .special_guest__container img {
      width: 480px;
      height: 364px; }

  .topics__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin: 63px auto 69px 200px; }
  .topics__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 56px 200px 0 200px; }
    .topics__container div {
      margin: 0 0 0 0;
      width: 260px;
      height: 130px; }
      .topics__container div img {
        margin: 13px 78px; }
      .topics__container div p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 24px;
        font-weight: bolder;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        margin: 0px 16px 0 16px; } }

/*# sourceMappingURL=style.css.map */