.base_section_title, .introduction__title, .introduction__title-punto, .episodes__title, .phone__text__container__title, .special_guest__title, .topics__title, .topics__container p, .news__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: lighter;
  line-height: 42px;
  padding-left: 16px;
  color: #060A24;
  letter-spacing: 0; }

.base_section_p, .introduction__p, .phone__text__container p, .footer__p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px; }

.button {
  background: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  height: 48px;
  width: 288px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 13px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .button:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

body {
  margin: 0;
  padding: 0; }

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.bar_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav-bar {
  padding: 10px 16px;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF; }
  .nav-bar__logo {
    width: 24px;
    height: 24px; }

.navigation__list {
  margin: 0;
  padding: 16px;
  width: 100%;
  height: 224px;
  top: 44px;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  list-style: none;
  background: #0000EC;
  line-height: 28px;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out; }
  .navigation__list a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0; }
  .navigation__list a:hover {
    color: #c4c2c2; }

.introduction {
  padding-left: 16px; }
  .introduction__title {
    width: 225px;
    padding-left: 0;
    font-weight: lighter;
    margin-bottom: 16px;
    margin-top: 29px; }
    .introduction__title-tachado {
      margin: 0;
      padding: 0;
      text-decoration: line-through; }
    .introduction__title-punto {
      padding-left: 0; }
  .introduction__p {
    margin: 0;
    padding: 0;
    height: 66px;
    width: 288px; }
    .introduction__p-desktop {
      display: none; }
  .introduction a {
    margin: 36px 0 15px 0; }

.episodes {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1; }
  .episodes__background {
    width: 0;
    height: 0;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    border-top: 20vw solid white;
    border-right: 100vh solid transparent; }
    .episodes__background-bottom {
      width: 0;
      height: 0;
      border-top: 78vw solid transparent;
      border-right: 315vh solid white;
      -webkit-transform: translateY(1px);
              transform: translateY(1px);
      z-index: 0; }
  .episodes__title {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 21px;
    -ms-flex-item-align: start;
        align-self: start; }
  .episodes__iframe {
    height: 232px;
    width: 301px;
    margin-bottom: 9px;
    border: 0; }

.phone {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "image"  "text";
  position: relative; }
  .phone__picture__image {
    height: 519px;
    grid-area: image;
    margin-top: -210px;
    z-index: 1; }
  .phone__text__container {
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-area: text; }
    .phone__text__container__title {
      margin: 27px 0 0 0;
      width: 288px;
      margin-bottom: 0; }
    .phone__text__container p {
      margin: 8px 16px 0 16px; }

.special_guest__title {
  margin: 54px 0 0 0; }
.special_guest__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 14px; }
  .special_guest__container img {
    width: 320px;
    height: 243px; }

.topics__title {
  margin: 48px 0 0 0; }
.topics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .topics__container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .topics__container__picture {
    margin: 52px 0 0 0; }
    .topics__container__picture-1 {
      margin-top: 24px; }
    .topics__container__picture-2 {
      margin-top: 36px; }
  .topics__container img {
    margin: 13px 0;
    width: 104px;
    height: 104px; }
  .topics__container p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    width: 288px;
    line-height: 30px; }

.news {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  margin-top: 17px;
  padding-bottom: 70px;
  text-align: center; }
  .news__title {
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 20px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 121px;
  background-color: #FFFFFF; }
  .footer__p {
    margin-bottom: 0;
    margin-top: 24px; }
  .footer__social-network {
    margin: 16px 0px 31px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 45px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer__social-network a {
      color: #060A24; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  z-index: 1; }
  .footer__p {
    margin-bottom: 0; }
  .footer__social-network {
    margin: 16px 45px 31px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    .footer__social-network i {
      margin: 0 auto; }

@media (min-width: 1024px) {
  .base_section_title-desktop, .phone__text__container__title, .news__title {
    font-size: 48px;
    line-height: 42px;
    padding-left: 16px;
    color: #060A24;
    letter-spacing: 0; }

  .base_section_p-desktop, .introduction__p-desktop, .phone__text__container__p {
    font-size: 16px;
    line-height: 24px; }

  .base_section_button-desktop, .news__button {
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    height: 56px;
    width: 345px; }

  .nav-bar {
    padding: 22px 100px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 80px; }
    .nav-bar__logo {
      width: 36px;
      height: 36px; }
      .nav-bar__logo img {
        width: 36px;
        height: 36px; }
    .nav-bar__label {
      display: none; }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 26px 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .navigation__list {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      position: relative;
      background-color: #FFFFFF;
      top: 0px;
      left: 0px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0; }
      .navigation__list a {
        color: #060A24; }
      .navigation__list a:hover {
        font-family: "IBM Plex Mono Medium";
        text-decoration: line-through;
        color: #00F3BB; }
      .navigation__list a:active {
        text-decoration: line-through;
        color: rgba(6, 10, 36, 0.56); }

  .section {
    margin: 0;
    padding: 0; }

  .introduction {
    padding-top: 120px;
    padding-left: 200px; }
    .introduction__title {
      width: auto;
      font-size: 64px;
      margin: 0px;
      padding-left: 0; }
      .introduction__title-punto {
        font-size: 64px;
        color: #0000EC;
        padding-left: 0; }
    .introduction__p {
      display: none; }
      .introduction__p-desktop {
        display: block;
        margin: 0;
        padding: 0;
        font-family: 'IBM Plex Mono', monospace;
        width: 628px;
        height: 48px;
        margin-top: 15px; }
    .introduction__button {
      height: 56px;
      width: 226px;
      margin-top: 56px; }

  .episodes {
    padding: 26px 0px 232.6px 0px; }
    .episodes__title {
      font-size: 48px;
      margin: 0 0 26px 200px;
      padding-left: 0;
      color: #FFFFFF; }
    .episodes__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .episodes__container__iframe {
        width: 584px;
        height: 232px;
        margin: 72px; }

  .phone {
    grid-template-columns: 45vw 55vw;
    grid-template-rows: auto;
    grid-template-areas: "image text"; }
    .phone__picture {
      text-align: right; }
      .phone__picture__image {
        width: 457.6px;
        height: 660px; }
    .phone__text__container__title {
      padding-left: 0px; }
    .phone__text__container__p {
      width: 464px; }

  .special_guest__title {
    margin: 64px auto 0 200px;
    font-size: 48px; }
  .special_guest__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 36px; }
    .special_guest__container img {
      width: 480px;
      height: 364px; }

  .topics__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin: 63px auto 69px 200px; }
  .topics__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 56px 200px 0 200px; }
    .topics__container div {
      margin: 0 0 0 0;
      width: 260px;
      height: 130px; }
      .topics__container div img {
        margin: 13px 78px; }
      .topics__container div p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 24px;
        font-weight: bolder;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        margin: 0px 16px 0 16px; }

  .news {
    margin-top: 100px;
    text-align: center;
    padding-top: 140px;
    width: 100vw;
    height: 318px; }
    .news__title {
      color: #FFFFFF;
      margin: 213 0 0 0; }
    .news__button {
      margin: 36px 0 151 0; }
      .news__button:hover {
        color: #FFFFFF;
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

  .footer {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    display: inline-block; }
    .footer__p {
      width: 50%; }
    .footer__social-network {
      display: inline; } }

/*# sourceMappingURL=style.css.map */