$paddin-left: 16px;

@mixin margin-padding {
    margin: 0;
    padding: 0;
}

.base_section_title {
    padding-left: $paddin-left;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    line-height: 42px;
    letter-spacing: 0;
    color: #060A24;
}

.base_section_p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #060A24;
}

.button {
    padding: 13px 0;
    width: 288px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    color: #060A24;
    text-decoration: none;
    background: #00F3BB;
    cursor: pointer;

        &:hover {
            color: #FFFFFF;
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        }
}

.irregular__background {

    &__top {
        width: 0;
        height: 0;
        transform: translateY(-1px);
        border-top: 20vw solid white;
        border-right: 100vh solid transparent;
    }

    &__bottom {
        width: 0;
        height: 0;
        border-top: 78vw solid transparent;
        border-right: 315vh solid white;
        transform: translateY(1px);
        z-index: 0;
    }
}

body {
    @include margin-padding();
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bar_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar {
    padding: 10px 16px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #FFFFFF;

    &__logo {
        width: 24px;
        height: 24px;
    }
}

.navigation {
    &__list {
        margin: 0;
        padding: 16px;
        width: 100%;
        height: 224px;
        top: 44px;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        position: absolute;
        list-style: none;
        background: #0000EC;
        transition: left .5s ease-in-out;
        
        & a {
            @extend .base_section_p;
            font-size: 16px;
            font-weight: lighter;
            line-height: 28px;
            text-decoration: none;
            color: #FFFFFF;
        }

        & a:hover {
            color: rgb(196, 194, 194);
        }
    }
}

.introduction {
    padding-left: $paddin-left;
        
    &__title {
        @extend .base_section_title;
        margin-top: 29px;
        margin-bottom: 16px;
        padding-left: 0;
        width: 225px;
        font-weight: lighter;

        &-tachado {
            @include margin-padding();
            text-decoration:line-through;
        }

        &-punto {
            @extend .base_section_title;
            padding-left: 0;
        }
    }

    &__p {
        @include margin-padding();
        @extend .base_section_p;
        width: 288px;
        height: 66px;

        &-desktop {
            display: none;
        }
    }

    & a {
        margin: 36px 0 15px 0;
    }
   
}

.episodes {
    background-image: linear-gradient(225deg,#0000FF 0%, #0000A3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    
    &__title {
        @extend .base_section_title;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 21px;
        align-self: start;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__iframe {
            height: 232px;
            width: 301px;
            margin-bottom: 9px;
            border: 0;
        }   
    }
}

.phone {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "image" 
    "text";
    position: relative;
    
    &__picture {
        &__image {
        height: 519px;
        grid-area: image;
        margin-top: -210px;
        z-index: 1;
        }
    }

    &__text__container {
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        grid-area: text;
        
        &__title {
            @extend .base_section_title;
            margin: 27px 0 0 0;
            width: 288px;
        }
        
        &__p {
            @extend .base_section_p;
            margin: 8px 16px 0 16px;
        }
    }
}

.special_guest {

    &__title {
        @extend .base_section_title;
        margin: 54px 0 0 0;
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 14px;

        & img {
            width: 320px;
            height: 243px;
        }
    }
}

.topics {
  
    &__title{ 
        @extend .base_section_title;
        margin: 48px 0 0 0;
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        
        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__picture {
            margin: 52px 0 0 0;
        
            &-1 {
                margin-top: 24px;
            }
        
            &-2 {
                margin-top: 36px;
            }
        }

        & img {
            margin: 13px 0;
            width: 104px;
            height: 104px;
        }

        & p {
            @include margin-padding();
            @extend .base_section_title;
            font-size: 24px;
            text-align: center;
            width: 288px;
            line-height: 30px;
        }
    }
}

.news {
    margin-top: 17px;
    padding-top: 0px;
    padding-bottom: 70px;
    text-align: center;
    background-image: linear-gradient(225deg,#0000FF 0%, #0000A3 100%);


    &__title {
        @extend .base_section_title;
        margin-top: 20px;
        font-weight: lighter;
        color: #FFFFFF;
    }
}

.footer {
    height: 121px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#FFFFFF;
    
    &__p {
        @extend .base_section_p;
        margin-top: 24px;
        margin-bottom: 0;
    }
    
    &__social-network{
        margin: 16px 0px 31px 0px;
        padding: 0 45px;
        display: flex;
        justify-content: space-between;

        & a {
            color: #060A24;
        }
    }
}