
body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    margin: 0;
    padding: 10px 16px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    &__logo {
        width: 24px;
        height: 24px;
    }

    &__menu {
        height: 2px;
        width: 18px;
        margin: 3px 0;
        background: #000000;
    }

    &__label {
        cursor: pointer;
    }
}

.aside {
    
    &__checkbox {
    visibility: hidden; 
    }

    &__list {
        list-style: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        left: -100%;
        box-sizing: border-box;
        width: 100%;
        top: 44px;
        display: flex;
        background: #0000EC;
        margin: 0;
        line-height: 28px;
        height: 224px;
        padding: 16px;
        transition: all .5s ease-in-out;

        & a {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            font-weight: lighter;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            color: #FFFFFF;
            letter-spacing: 0;
        }

        & a:hover {
            color: rgb(196, 194, 194);
        }
    }

    &__checkbox:checked ~ .aside__list {
        left: 0;
    }
}