.base_section_title, .introduction__title, .introduction__title-punto, .episodes__title, .phone__text__container__title, .special_guest__title, .topics__title, .topics__container p, .news__title {
  padding-left: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: lighter;
  line-height: 42px;
  letter-spacing: 0;
  color: #060A24; }

.base_section_p, .navigation__list a, .introduction__p, .phone__text__container__p, .footer__p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  color: #060A24; }

.button {
  padding: 13px 0;
  width: 288px;
  height: 48px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  color: #060A24;
  text-decoration: none;
  background: #00F3BB;
  cursor: pointer; }
  .button:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

.irregular__background__top {
  width: 0;
  height: 0;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  border-top: 20vw solid white;
  border-right: 100vh solid transparent; }
.irregular__background__bottom {
  width: 0;
  height: 0;
  border-top: 78vw solid transparent;
  border-right: 315vh solid white;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  z-index: 0; }

body {
  margin: 0;
  padding: 0; }

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.bar_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav-bar {
  padding: 10px 16px;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF; }
  .nav-bar__logo {
    width: 24px;
    height: 24px; }

.navigation__list {
  margin: 0;
  padding: 16px;
  width: 100%;
  height: 224px;
  top: 44px;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  list-style: none;
  background: #0000EC;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out; }
  .navigation__list a {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF; }
  .navigation__list a:hover {
    color: #c4c2c2; }

.introduction {
  padding-left: 16px; }
  .introduction__title {
    margin-top: 29px;
    margin-bottom: 16px;
    padding-left: 0;
    width: 225px;
    font-weight: lighter; }
    .introduction__title-tachado {
      margin: 0;
      padding: 0;
      text-decoration: line-through; }
    .introduction__title-punto {
      padding-left: 0; }
  .introduction__p {
    margin: 0;
    padding: 0;
    width: 288px;
    height: 66px; }
    .introduction__p-desktop {
      display: none; }
  .introduction a {
    margin: 36px 0 15px 0; }

.episodes {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1; }
  .episodes__title {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 21px;
    -ms-flex-item-align: start;
        align-self: start; }
  .episodes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .episodes__container__iframe {
      height: 232px;
      width: 301px;
      margin-bottom: 9px;
      border: 0; }

.phone {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "image"  "text";
  position: relative; }
  .phone__picture__image {
    height: 519px;
    grid-area: image;
    margin-top: -210px;
    z-index: 1; }
  .phone__text__container {
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-area: text; }
    .phone__text__container__title {
      margin: 27px 0 0 0;
      width: 288px; }
    .phone__text__container__p {
      margin: 8px 16px 0 16px; }

.special_guest__title {
  margin: 54px 0 0 0; }
.special_guest__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 14px; }
  .special_guest__container img {
    width: 320px;
    height: 243px; }

.topics__title {
  margin: 48px 0 0 0; }
.topics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .topics__container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .topics__container__picture {
    margin: 52px 0 0 0; }
    .topics__container__picture-1 {
      margin-top: 24px; }
    .topics__container__picture-2 {
      margin-top: 36px; }
  .topics__container img {
    margin: 13px 0;
    width: 104px;
    height: 104px; }
  .topics__container p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    width: 288px;
    line-height: 30px; }

.news {
  margin-top: 17px;
  padding-bottom: 70px;
  text-align: center; }
  .news__title {
    margin-top: 20px;
    font-weight: lighter;
    color: #FFFFFF; }

.footer {
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #FFFFFF; }
  .footer__p {
    margin-top: 24px;
    margin-bottom: 0; }
  .footer__social-network {
    margin: 16px 0px 31px 0px;
    padding: 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer__social-network a {
      color: #060A24; }

/*# sourceMappingURL=style.css.map */